.image{
    background-color: black;
    height: 600px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    background-image: url(../images/task-2-photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.image .text{
    position: absolute;
    right: 430px;
    top: 500px;
    background-color: cadetblue;
    height: 150px;
    width: 650px;
    border-radius: 10px;
}

h1{
    color: rgb(250, 250, 250);
    text-align: center;
    margin-top: 25px;
    font-weight: bolder;
    font-style: italic;
}
.info{
    color: white;
    margin-left: 5px;
    text-align: center;
    font-style: italic;
    margin-top: 60px;
}

.info span{
    margin-left: 30px;

}
